<h1>view_helper_test</h1> 

<br><%= text_field :book, :isbn %></br>
<br><%= number_field :book, :isbn %></br>
<br><%= text_area :book, :memo %></br>
<br><%= check_box :book, :cd, {}, 0, 1 %></br>
<br><%= radio_button :user, :color, "red" %>赤
    <%= radio_button :user, :color, "blue" %>青</br>
<br><%= select :user, :address, ["出雲市","松江市"] %></br>
<br><select id="book_publish" name="book[publish]">
      <option value="1">技術評論社</option>  
      <option value="2">マイナビ</option>  
    </select></br>
<br><%= link_to 'Back', books_path %></br>
<br><%= image_tag 'ケーキ.jpg' %></br> 