<p style="color : Red"><%= @error %></p>
<%= form_tag action: :auth do %>
    <div class="field">
        <%= label_tag :userid, 'ユーザーID' %>:<br />
        <%= text_field_tag :userid, '' %>
    </div>
    <div class="field">
        <%= label_tag :password, 'パスワード' %>:<br />
        <%= text_field_tag :password, '' %>
    </div>
    <%# ログイン後にリダイレクトすべきアクションを隠しフィールドにセット %>
    <%= hidden_field_tag :referer, flash[:referer] %>
    <%= submit_tag 'ログイン' %>
<% end %>
<%= link_to 'ユーザー登録', users_path %>